@model ConsultorioDental.Modelos.ViewModels.CitaVM
@using ConsultorioDental.Utilidades

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Cita";
    var userId = UserManager.GetUserId(User);
}

<!--Creamos el Formulario de envio de Información-->
<form method="post">
    @if (User.IsInRole(DS.Role_Dentista) || Model.Cita.UsuarioAplicacionId == userId || Model.Cita.Id == 0)
    {
        <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
            <div class="row border-0">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
            </div>
            <!--Cambio de Titulo de la Página-->
            @if (Model.Cita.Id != 0)
            {
                //Actualizar
                titulo = "Actualizar Cita";
                <input type="hidden" asp-for="Cita.Id" id="id" />
            }
            <!--Mostramos el Titulo de la página-->
            <div class="col-12 border-bottom p-0">
                <h2 class="text-primary">@titulo</h2>
            </div>

            <!--Campo fecha -->
            <div class="row mb-2 mt-2">
                <div class="col-md-6">
                    <label>Fecha</label>
                    @* <input asp-for="Cita.Fecha" class="form-control" /> *@
                    <input asp-for="Cita.Fecha" class="form-control" type="date" />
                    <span asp-validation-for="Cita.Fecha" class="text-danger"></span>
                </div>
            </div>
            <!--Campo hora-->
            <div class="row">
                <div class="col-md-6">
                    <label>Hora</label>
                    @* <input asp-for="Cita.Hora" class="form-control" /> *@
                    <input asp-for="Cita.Hora" class="form-control" type="time" />
                    <span asp-validation-for="Cita.Hora" class="text-danger"></span>
                </div>
            </div>
            <!--Lista Tratamiento-->
            <div class="row">
                <div class="col-md-6">
                    <label>Tratamiento</label>
                    <select asp-for="Cita.TratamientoId" asp-items="@Model.TratamientoLista" class="form-select">
                        <option disabled selected>--Seleccione un Tratamiento--</option>
                    </select>
                    <span asp-validation-for="Cita.TratamientoId" class="text-danger"></span>
                </div>
            </div>
            <!--Lista Paciente-->
            @if (User.IsInRole(DS.Role_Dentista))
            {
                <div class="row">
                    <div class="col-md-6">
                        <label>Paciente</label>
                        <select asp-for="Cita.UsuarioAplicacionId" asp-items="@Model.UsuarioAplicacionLista" class="form-select">
                            <option disabled selected>--Seleccione un Paciente--</option>
                        </select>
                        <span asp-validation-for="Cita.UsuarioAplicacionId" class="text-danger"></span>
                    </div>
                </div>

                <!--Campo Estado-->
                <div class="row mb-2 mt-2">
                    <div class="form-group col-md-6">
                        <label>Estado</label>
                        <select asp-for="Cita.Estado" class="form-select">
                            <option value=false>Pendiente</option>
                            <option value=true>Completada</option>
                        </select>
                        <span asp-validation-for="Cita.Estado" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (User.IsInRole(DS.Role_Paciente))
            {
                <div class="row" style="display:none;">
                    <div class="col-md-6">
                        <label>Paciente</label>
                        <input asp-for="Cita.UsuarioAplicacionId" class="form-control" value="@userId" readonly />
                        <span asp-validation-for="Cita.UsuarioAplicacionId" class="text-danger"></span>
                    </div>
                </div>
            }

            <!--Precentamos las Vistas parciales-->
            <br />
            <div>
                @if (Model.Cita.Id != 0)
                {
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-primary" onfocus="false"
                                asp-action="Detalle" asp-route-id="@Model.Cita.Id">
                            <i class="bi bi-pencil-square"></i>
                            Guardar Cambios
                        </button>
                        <a class="btn btn-success" asp-action="Detalle" asp-route-id="@Model.Cita.Id">
                            <i class="bi bi-arrow-return-left"></i>
                            Regresar
                        </a>
                    </div>
                }
                else
                {
                    <partial name="_BotonesCrearYRegresar" />
                }
            </div>
        </div>
    }
    else
    {
        <div class="container" bis_skin_checked="1">
            <h1 class="text-danger">Access denied</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </div>
    }

</form>